doctype html
html
    head
        block title
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        header what is the better
        block content
        footer= test
        script(src='main.js')