extends ./layout.pug
block title
    title My app
block content
    section#contents
        nav#sub_menu
            ul
                li 1st
                li 2nd
                li 3rd
                li 4th
                li 5th
        #main_contents
            #time(style='height:100px')
                #killing_boss
                #coming_boss
                .clear
                #current_time
            #boss_list(style='width:700px')